@model UserViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@Model.UserInfo.Id</p>
<p>@Model.UserInfo.Name</p>
<p>@Model.UserInfo.Age</p>
<p>@Model.UserInfo.CreateTime</p>
<p>@Model.IP</p>
<p>@Model.Port</p>

<p>Use this page to detail your site's privacy policy.</p>
